* {
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    color: currentColor;
    letter-spacing: 1px;
}

body p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#author {
    opacity: .6;
    font-style: oblique;
    font-size: small;
    letter-spacing: 2px;
}

#author a {
    box-shadow: none;
}

.lectures {
    margin: 9px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.lectures a {
    padding: 6px;
    border-radius: 3px;
    box-shadow:
        0 0 4px #dedede,
        0 0 9px #efefef;
}

td {
    font-size: 14px;
}

td:nth-of-type(1) {
    text-transform: capitalize;
    padding-right: 12px;
    border-right: 1px solid;
}

td:nth-of-type(2) {
    padding-left: 12px;
}

.lectures a span {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: blue;
}