* {
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    color: currentColor;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --clr-time-bg: cornflowerblue;
    --clr-time-fg: white;
}

::-webkit-scrollbar {
    opacity: 0;
    width: 0;
    height: 0;
}

body p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#author {
    opacity: .6;
    font-style: oblique;
    font-size: small;
    letter-spacing: 2px;
}

.lectures {
    margin: 9px;
    padding: 9px 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    overflow-x: scroll;
}

a.card {
    padding: 6px;
    border-radius: 6px;
    box-shadow:
        0 0 4px #dedede,
        0 0 9px #efefef;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

span.left {
    font-size: xx-large;
    background-color: var(--clr-time-bg);
    box-shadow:
        4px -9px 1px var(--clr-time-bg),
        -9px -9px 1px var(--clr-time-bg),
        4px 9px 1px var(--clr-time-bg),
        -9px 9px 1px var(--clr-time-bg);
    color: var(--clr-time-fg);
}

a.card hr {
    width: 10px;
    height: 90%;
}

span.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span.subject {
    font-size: x-large;
    width: max-content;
    align-self: center;
    letter-spacing: 2px;
}

span.staff {
    opacity: 0.6;
    font-size: x-small;
    letter-spacing: 2px;
}

a span.right span:last-of-type {
    display: flex;
    justify-content: space-between;
}

a span.right span svg {
    width: 12px;
    opacity: .3;
    transform: translate(20%, 30%);
}