.jcsb,
.jcse,
.fdc,
.asc,
.jcc,
.aifs,
.asfs,
.aic,
.f {
    display: flex;
    gap: 6px;
}

.fdc {
    flex-direction: column;
}

.asc {
    align-self: center;
}

.asfs {
    align-self: flex-start;
}

.aic {
    align-items: center;
}

.aifs {
    align-items: flex-start;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.jcse {
    justify-content: space-around;
}