details#customDateFilter {
    margin-left: 9px;
    cursor: pointer;
}

details#customerDateFilter * {
    cursor: pointer;
}


details#customDateFilter * details {
    margin-left: 9px;
}

details#customDateFilter * summary.month+div {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

details#customDateFilter * summary.month+div span.date {
    min-width: 18px;
    min-height: 18px;

    aspect-ratio: 1/1;

    border: 1px solid transparent;
    border-radius: 3px;
    margin: 3px;
}

details#customDateFilter * summary.month+div span.date label input {
    display: none;
}

details#customDateFilter * summary.month+div span.date.checked {
    border-color: #1972e8;
    color: #006eff;
    background-color: rgba(25, 115, 232, 0.1);
}

details#customDateFilter * summary.month+div span.date label {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}