:root {
    --clr-primary: initial;
    --clr-secondary: initial;
}

* {
    background: var(--clr-primary);
    color: var(--clr-secondary);

    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
}

body div.page {
    width: 100vw;
    height: 100vh;
}